* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body {
	font-family: Tahoma, sans-serif;
	background: #f1f5f8;
	color: #102a42;
	line-height: 1.5;
	font-size: 0.875rem;
}
img {
	display: block;
	width: 100%;
}
.title {
	margin-top: 15vh;
	margin-bottom: 4rem;
}
.title h2 {
	color: #c59d5f;
	font-size: 2rem;
	letter-spacing: 0.25rem;
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	font-family: Georgia, serif;
	text-align: center;
}
.section-center {
	width: 90vw;
	max-width: 620px;
	margin: 0 auto;
}
.question {
	background: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	padding: 1.5rem 1.5rem 0 1.5rem;
	margin-bottom: 2rem;
}
.question-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: capitalize;
	padding-bottom: 1rem;
}
.question-title p {
	margin-bottom: 0;
	letter-spacing: 0.25rem;
	color: #102a42;
}
.question-btn {
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	transition: all 0.3s linear;
}
.question-text {
	padding: 1rem 0 1.5rem 0;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	/* hide text */
	display: none;
}
.question-text p {
	margin-bottom: 0;
}
.show-text .question-text {
	display: block;
}
.show-text img {
	transform: rotate(45deg);
}
